<script>
  const form = document.querySelector('#form-major');
  const url = `{% url "major_form" %}`;

  async function validatingInput(input) {
    console.log(input.value)
    if (input.value === 'undefined' || input.value === null || input.value === '') {
      input.style.borderColor = 'red';
      return false;
    }
    
    return input.value;
  }

  document.addEventListener('DOMContentLoaded', async () => {

    form.addEventListener('submit', async(event) => {
      event.preventDefault();

      let code = await validatingInput(event.target[1]);
      let name = await validatingInput(event.target[2]);
      let description = await validatingInput(event.target[3]);

      if (code === false || name === false || description === false){
        console.log('Input field is mandatory!');
        return false;
      }

      const data = new FormData();
      data.append('csrfmiddlewaretoken', await event.target[0].value);
      data.append('code', code);
      data.append('name', name);
      data.append('description', description);

      fetch(url, {
        method: 'POST',
        body: data
      }).then(response => {
        console.log(response.json());
        if (response.status === 201) {
          location.reload();
        }
      }).catch(error => {
        console.log(error);
      });
    })

  });
</script>